.container {
  display: flex;
  justify-content: center;
  background-color: #f3e050;
  font-family: 'Lora', serif;
 }
h1 {
  font-size: 60px;
  font-family: 'Lora', serif;
  color: blueviolet;
}
.text {
  font-size: 20px;
 margin: 50px;
 font-family: 'Lora', serif;
}

button {
  background-color: #f3e050;
  color: rgb(60, 21, 152);
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Lora', serif;
  font-size: 25px;
}
@media all and (max-width:800px){
  h1 {
    font-size: 40px;
  }
  .container {
   width: 80%;
   }
   .imageHotel {
    width: 400px;
   }
   .text {
   margin: 20px;
  }
}
@media all and (max-width:500px){
  h1 {
    font-size: 30px;
  }
  .container {
    display: flex;
    justify-content: center;
width: 100%;
   }
   .imageHotel {
    width: 350px;
   }
   .text {
   margin: 10px;
  }
}